
// custom variables
$primary: yellow;
$light: rgb(66, 66, 66);

// import the functions & variables
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

// custom maps
$custome-theme-colors: (
    "altlight": #f2ebfa,
    "altdark": #522192
);

$themes-colors: map-merge($custome-theme-colors, $theme-colors);


// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap.scss';
